name: Gitleaks SAST scan
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: read-all

jobs:
  gitleaks:
    name: Gitleaks SAST scan
    permissions:
      pull-requests: write
    uses: fish-shop/workflows/.github/workflows/gitleaks.yml@3b0a9836640281aa743cb1379c76c0130f35dfa4 # v1.13.42
    secrets:
      gitleaks_license: ${secrets.GITLEAKS_LICENSE}
