name: OpenSSF Scorecard Analysis
on:
  branch_protection_rule:
  schedule:
    - cron: '0 3 * * 1'
  push:
    branches: [ "main" ]

permissions: read-all

jobs:
  analysis:
    name: OpenSSF Scorecard Analysis
    permissions:
      security-events: write # Needed to upload the results to code scanning dashboard
      id-token: write # Needed to publish results to OpenSSF API and get a badge
    uses: fish-shop/workflows/.github/workflows/openssf-scorecard.yml@f0a6e46b0f0877167ecd86bde71066c04e13ba52 # v1.13.43
