name: Action Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: '30 19 * * *'
  workflow_dispatch:

permissions: read-all

jobs:
  tests:
    name: Action Tests
    strategy:
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-15-intel
          - macos-26
          - ubuntu-22.04
          - ubuntu-24.04
        plugin-manager:
          - fisher
          - oh-my-fish
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install fish shell
        uses: fish-shop/install-fish-shell@e7fed4dd856223b5c96b9681c587ee85ab185024 # v2.0.40
      - if: matrix.plugin-manager != 'oh-my-fish'
        name: Install plugin using <username>/<repo> name
        uses: ./
        with:
          plugin-manager: ${{ matrix.plugin-manager }}
          plugins: marcransome/pond
      - if: matrix.plugin-manager == 'oh-my-fish'
        name: Install plugin using GitHub URL
        uses: ./
        with:
          plugin-manager: ${{ matrix.plugin-manager }}
          plugins: https://github.com/marcransome/pond
      - name: Check plugin installed
        run: type -q pond
        shell: fish {0}
